body {
    margin: 0;
    padding: 0;

    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    /*This will set a margin of 30px on the top and bottom of the container 
    and center it horizontally within its parent element.*/
}
